<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描service相关的bean -->
    <context:component-scan base-package="priv.blog.service" />

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!--UserServiceImpl注入到IOC容器中-->
    <bean id="userServiceImpl" class="priv.blog.service.impl.UserServiceImpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>

    <!--ArticleServiceImpl注入到IOC容器中-->
    <bean id="articleServiceImpl" class="priv.blog.service.impl.ArticleServiceImpl">
        <property name="articleMapper" ref="articleMapper"/>
        <property name="userMapper" ref="userMapper"/>
        <property name="critiqueMapper" ref="critiqueMapper"/>
    </bean>

    <bean id="messageServiceImpl" class="priv.blog.service.impl.MessageServiceImpl">
        <property name="messageMapper" ref="messageMapper"/>
        <property name="userMapper" ref="userMapper"/>
    </bean>

</beans>